RewriteEngine on
RewriteRule ^dwarf/(.*)$ - [L]
RewriteRule ^api/(.*)$ dwarf/run.cgi/api/$1 [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ dwarf/run.cgi/$1 [L]
RewriteRule ^$ dwarf/run.cgi/ [L]
